.header {
    height: 95vh;
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 50%,transparent 45%,rgba(0,0,0,.8)),url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 8px solid #222;

    &_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        width: 90rem;
        margin: 1.25rem auto;

        .logo {
            height: 2.2rem;
            width: 30%;

            @include breakpoint-down(medium){
                width: 20%;
            }

            @include breakpoint-down(small){
                width: 40%;
            }
    
        }

        .link {
            height: 2.5rem;
            padding: 0.4375rem 1.0625rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $red;
            font-size: 1rem;
            font-weight: 400;
            border-radius: 0.3125rem;
            cursor: pointer;

            & a {
                color: $white;
            }

            @include breakpoint-down(small){
                height: 2rem;
                font-size: 0.875rem;
                padding: 0.4375rem;
                font-weight: 400;
            }
        }

        @include breakpoint-down(large){
            width: 100%;
            padding: 2.8125rem 1.25rem;
        }

        @include breakpoint-down(medium){
            width: 100%;
            padding: 2.8125rem;
        }

        @include breakpoint-down(small){
            width: 100%;
            padding: 1.25rem;
        }

    }

    .hero {
        text-align: center;
        h1 {
            font-size: $font-xl;
            width: 60%;
            margin-bottom: 0;

            @include breakpoint-down(medium){
                width: 80%;
            }
            @include breakpoint-down(small){
                width: 100%;   
                font-size: 1.75rem;   
            }
        }
        
        .para1 {
            font-size: $font-l;

            @include breakpoint-down(medium){
                margin-bottom: 0;
            }
            @include breakpoint-down(small){
                width: 100%;   
                font-size: $font-md;   
            }
        }
        
        .para2 {
            font-size: $head-p;

            @include breakpoint-down(medium){
                font-size: 1.4375rem;
                max-width: 28.125rem;
                line-height: 1.3;
            }

            @include breakpoint-down(small){
                width: 100%;   
                font-size: $font-md;   
            }
        }

        

        @include breakpoint-down(medium){
          width: 100%;      
        }

        @include breakpoint-down(small){
            width: 100%; 
            padding: 1.25rem;     
        }
    }

    @include breakpoint-down(medium){
        width: 100%;
        height: 80vh;      
    }

    @include breakpoint-down(small){
        width: 100%; 
        height: 80vh;
    }


}