//colors

$red: #e50914;
$darkRed: #B00710;
$hoverRed: #f40612;
$placeholder: #8c8c8c;
$white: #fff;
$bgColor: #000;
$accordion: #303030;
$footerText: #737373;
$bb : #222;
$blue: #0071eb;

//fonts size

$font-xs: 0.8125rem;
$head-p: 1.2rem;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-l: 1.625rem;
$font-xl: 3.125rem;
